@import url("../../../../templates/default/delos.css") screen;

#ilTopBar {
	display:none;
}

.ilMainHeader.ilTopFixed {
	top: 0px;
	border-bottom: 1px solid;
	/*box-shadow: inset 0 -4px 1px -2px #18228F;*/
}

.ilMainHeader > header > .row > a.navbar-brand {
	height: 55px;
	padding: 3px 10px 0;
}

div.ilMainMenu {
	display: none;
}

.navbar-brand {
	float: left;
	padding: 0px 0px;
	font-size: 18px;
	line-height: 0px;
	height: 50px;
}
  
header * img {
	width:0;
	height:0;
	padding-left: 0px;
	padding-right: 52px;
	padding-top: 0px;
	padding-bottom: 50px;
	background-image: url(images/HeaderIcon.png);
	background-repeat: no-repeat; 
}

p.ilStartupSection {
	display:none;
}

form[name="languageselection"] {
	display:none;
}

footer {
	display:none;
}

/* PD */
#ilPDIntro {
	display:none;
}

/* block */
div.ilBlockHeader {
	display: none;
}

.ilContainerBlockHeader {
	display: none;
}

.il_Block button {
	display: none;
}

#ilTab {
	display: none;
}

.ilContentFixed button {
	display: none;
}

/*
form[name="formInfoScreen"] {
	visibility: hidden;
}


.ilInfoScreenSec {
	visibility: hidden;
}
*/

.ilInfoScreenSec .il_InfoScreenPropertyValue a[href="#"] {
	display: none;
}

/* tree */
.ilTreeView {
	display: none;
}

/* seb */
.sebObject {
	float: right;
	font-size: 120%;
	font-weight: bold;
	padding-top: 15px;
	padding-right: 15px;
}

.kiosk {}

#kioskOptions {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 55px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	border-top: 0px;
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #FFF;
}

#kioskExamID {
	float: left;
	width: 33%;
	text-align: left;
}

#kioskTestTitle {
	width: 33%;
	text-align: center;
}

#kioskParticipant {
	float: right;
	width: 33%;
	text-align: right;
}

form[name="listofquestions"], #tst_output {
	position: static;
	margin-top: 70px;
}
